---
import LandingHeader from '../components/LandingHeader.astro'
import Layout from '../layouts/Layout.astro'
import HeroSection from '../components/HeroSection.astro'
import ModelY from '../components/ModelY.astro'
import Model3 from '../components/Model3.astro'
---

<Layout title="Tesla">
  <LandingHeader />

  <main
    class="snap-y snap-mandatory overflow-auto relative w-full h-screen scroll-m-0"
  >
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center">
      <ModelY />
    </div>
    <div class="snap-center">
      <Model3 />
    </div>
  </main>
</Layout>
