<!-- w-screen with max-width: 100% to remove scroll -->
<section class="bg-black h-screen w-full text-center relative overflow-hidden">
  <div class="flex flex-col h-full relative z-20">
    <header>
      <h2 class="text-black pt-40 text-4xl font-medium">Model Y</h2>
      <p class="text-black text-sm underline">
        Concertar una prueba de conducción
      </p>
    </header>

    <footer class="grow flex flex-col justify-end pb-24">
      <div class="flex justify-center gap-x-6">
        <a
          class="bg-gray-600 text-sm rounded font-medium text-white px-12 py-3 hover:bg-black hover:text-white transition-all duration-500"
          href="#">Explorar inventario</a
        >
        <a
          class="bg-white text-black text-sm rounded font-medium px-12 py-3 inline-flex items-center hover:bg-black hover:text-white transition-all duration-500"
          href="#">Pedido personalizado</a
        >
      </div>
    </footer>
  </div>

  <div class="absolute z-10 top-0 bottom-0 left-0 right-0">
    <picture>
      <source
        srcset="/images/Homepage-ModelY-LHD-Mobile.avif"
        media="(max-width: 599px)"
      />
      <source
        srcset="/images/Homepage-Model-Y-Global-Desktop.jpeg"
        media="(min-width: 600px)"
      />
      <source
        srcset="/images/Homepage-ModelY-LHD-Mobile.avif"
        media="(min-width: 600px) and (orientation:portrait)"
      />
      <img
        src="/images/Homepage-Model-Y-Global-Desktop.jpeg"
        srcset="/images/Homepage-Model-Y-Global-Desktop.jpeg"
        alt="Metallic blue Model Y driving down a hillside highway"
        class="h-full w-full object-cover"
      />
    </picture>
  </div>
</section>
